@import '../../styles/variables';

.header {
  margin: 40px 0 20px 0;
  .title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.buttons {
  background-color: $Background;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-top: 1px solid $SDark;
  text-align: center;
  padding-bottom: 0;
}
