// Primary
$Primary: #01579b;
$PLight: #4f83cc;
$PDark: #002f6c;
// seconday
$Secondary: #757575;
$SLight: #a4a4a4;
$SDark: #494949;

// Texts
$PText: #FFF;
$SText: #FFF;

// backgrounds
$Background: #E1E2E1;
