@import '../../styles/variables';

.container {
  background-color: $Background;
  display: flex;
  align-items: center;
  height: auto;
  width: 90%;
  margin: 40px auto;
  max-width: 400px;
  flex-direction: column;
  &.center {
    justify-content: center;
  }
  &.top {
    justify-content: flex-start;
  }
}
