$NumberFont: 1.8rem;

.container {
  width: 100%;
  padding-bottom: 90px;
  .listContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    ul {
      list-style: none;
      padding: 0;
      li button {
        font-size: $NumberFont;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        border-color: transparent;
        margin-bottom: 10px;
      }
    }
  }
  
  .amount {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding-bottom: 20px;
    span {
      font-size: $NumberFont;
    }
  }
}
