body {
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  color: white;
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
  font-size: 1.5rem;
  border-bottom: 1px solid #ededed;
  background-color: #1f2123;
}
